@font-face {
    font-family: 'Vazir';
    src:  url('fonts/Vazir-Regular.woff2') format('woff2'),
    url('fonts/Vazir-Regular.woff') format('woff'),
    url('fonts/Vazir-Regular.eot') format('eot'),
    url('fonts/Vazir-Regular.woff') format('woff');

}
.container{
    width: auto;
}
.column{
    float: right;

}
.sidebar{
    background-color: #e8e8e8;
    width: 30%;
}
.main{
    width: 70%;
}
.container::after{
    clear: both;
}
