@font-face {
    font-family: 'Vazir';
    src:  url('fonts/Vazir-Regular.woff2') format('woff2'),
    url('fonts/Vazir-Regular.woff') format('woff'),
    url('fonts/Vazir-Regular.eot') format('eot'),
    url('fonts/Vazir-Regular.woff') format('woff');

}

.container{
    width: 1160px;
}

body{
    direction: rtl;
    background-color: #333;
}


header{
    background-color: #000;
}


h1,h2, div, p{
    font-family: Vazir;
}
 
.column{
    float: right;

}
.sidebar{
    background-color: #e8e8e8;
    width: 30%;
    padding: 10px;
}
.main{
    /* width: 800px; */
    padding: 20px;
    background-color: #ffff;    
}
.container::after{
    clear: both;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

ul.personal-info{
    list-style: none;
    padding-right: 0;
}

.p-infp-title::after{
    content: " ";
    width: 100%;
    height: 1px;
    background-color: lightgray;
    display: block;
}
h3::after{
    content: " ";
    width: 100%;
    height: 1px;
    background-color: lightgray;
    display: block;
}

.personal-info .title{
    font-weight: 600;
    color: gray;
}

.main .about p{
    word-wrap: break-word;
}

.download-cv-btn{
    color: #ddd ;
    background-color: #008a6e;
}

.print-btn, .share-btn{
    color: #ddd    ;
    background-color: #111;
    margin-left: 5px;
}

.print-btn:hover{
    color: #ddd    ;
    background-color: #1e1e1e;
}
.share-btn:hover{
    color: #ddd    ;
    background-color: #1e1e1e;
}

.resume-section{
    margin-top: 100px;
}

.profile-icon{
    border-radius: 50%;
}

h2{
    font-size: 1.4em;
}

h3{
    font-size: 1.2em;
}