@font-face {
    font-family: 'Vazir';
    src:  url('fonts/Vazir-Regular-FD.woff2') format('woff2'),
    url('fonts/Vazir-Regular-FD.woff') format('woff'),
    url('fonts/Vazir-Regular-FD.eot') format('eot'),
    url('fonts/Vazir-Regular-FD.woff') format('woff');

}

*,body{
    direction: rtl;
    font-family: 'Vazir';
}

body{
    background-color: #f5f5f5;
}


#menu{
    background-color: #555;
    padding-top: 10px;
    padding-bottom: 10px;

}

#navbarSupportedContent ul li a{
    color: #fff;
}

.summary{
    background-color: #fff;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
 

}

.summary ul {
    list-style-type: none;
    padding-right: 0;
}
.summary ul li {
    padding-top: 10px;
    
}

.picture-icon{
    background-color: #f5f5f5;
   padding-top: 25px;
   padding-bottom: 25px;
   cursor: pointer;
   border: 1px solid #d0d0d0;
   border-radius: 5px;
}

.picture-icon i {
    font-size: 50px;
    color: #ecebeb;
}

.upload-image-btn{
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin-bottom: 10px;
}

.fullname{
    font-size: 22px;
    color: #f9a60b;
}
.download-cv-btn{
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-right: 15px;
    color: hsla(0,0%,53%,.95);
    text-decoration: none;
    
    
}

.box.summary{
    border: 1px solid #d0d0d0;

}
.box{

    background-color: #fff;
   

}

.box-header{
    background-color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid #d0d0d0;
    transition: opacity 1s ease;
}

.box-content{
    padding: 10px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    position: relative;
}
.box-content:hover{
    border: 1px solid #3ab1e4;
}

.personal-info .item{
    margin-top: 20px;
}

.skill-item{
    background-color: #f9f9f9;
    padding: 7px;
    width: max-content;
    border: 1px solid #ececec;
    color: #000;
    text-decoration: none;
    margin: 3px;
    cursor: pointer;
}

.skill-item i{
    color: #838383;
    display: inline;
}

.job-item,.field-item, .language-item{
    padding: 25px;
    border-bottom: 1px solid #d8d8d8;
}

 .add-job-btn,.add-education-btn,.add-language-btn{
     background: 0 0;
     border: none;
 }

 .add-job, .add-education, .add-language{
     background-color: #d8d8d8;
     padding: 10px;
     text-align: center;
     cursor: pointer;
 }

 .progress-circle{
     height: 80px;
     width: 80px;
     border: 3px solid #d8d8d8;
     background-color: #fff;
     border-radius: 50%;
     z-index: 11;
     position: relative;
     overflow: hidden;

 }

 .completion-level{
     background-color: #1abc9c;
     display: block;
     width: 80px;
     height: 50%;
     z-index: 10;
     position: absolute;
     bottom: 0;
     left: 0;
     transition: all 1s ease;
 }
 .improvement-list li{
 list-style: none;
    margin-top: 10px;
}

.improvement-list li a{
    text-decoration: none;
}
.see-resume-btn{
    background-color: #17a689;
    color: #fff;
}

.avatar-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-col{
    border-right: 1px solid #d0d0d0;
    cursor: pointer;
    transition: all 1s ease;
    border-top:  1px solid #d0d0d0;
    
}
 


.summary-list-wrapper{
    padding: 20px;
}

.edit-btn{
    left: 20px;
    top: 20px;
    /* display: none; */
    transition: all 1s ease;
    color: #3ab1e4;
    font-size: 20px;
    background-color: transparent;
    border: none;

}

.about-text{
    padding: 15px;
    width: 80%;
}

input[type="text"],input[type="password"],textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #e5e5e5;
    resize: vertical;
    background-color: #fff;
    -webkit-appearance: none;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

input[type="text"]:active{

    border: 1px solid #d0d0d0;


}

select{
    width: 100%;
    border: 1px solid #d0d0d0;
    box-shadow: inset 0 -1px 0 1px #d0d0d0;
    outline: none;
    height: 44px;

}

input:not([type="radio"]){
    border-color: #d0d0d0;
    -webkit-box-shadow: 0 -1px 0 1px #d0d0d0 inset;
    box-shadow: inset 0 -1px 0 1px #d0d0d0;
}

.edit-box{
    /* padding: 25px; */
    border: 1px solid #3ab1e4;
    background-color: rgba(58,177,228,.05);
}

.text-left{
    text-align: left;
}

.cancel-btn{
    background-color: #fff;
    color: hsla(0,0%,53%,.95);
    -webkit-box-shadow: 0 -3px 0 0 #e0e0e0 inset;
    box-shadow: inset 0 -3px 0 0 #e0e0e0;
    height: 50px;
    border: 1px solid #e0e0e0;
}

.save-btn {
         background-color: #1abc9c;
        color: hsla(0,0%,100%,.95);
        -webkit-box-shadow: 0 -3px 0 0 #12876f inset;
        box-shadow: inset 0 -3px 0 0 #12876f;
        height: 50px;
        padding: 10px;

        border: none;
        box-shadow: none;
        border-radius: 4px;
   
}

.add-btn{
    background-color: #1abc9c;
    color: hsla(0,0%,100%,.95);
    -webkit-box-shadow: 0 -3px 0 0 #12876f inset;
    box-shadow: inset 0 -3px 0 0 #12876f;
    height: 44px;
    padding: 0 10px;

    border: none;
    box-shadow: none;
    border-radius: 4px;
    width: 45px;
    font-size: 18px;
    margin-right: 10px;
}

input[type="radio"]{


    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #bbb;
    -webkit-border-radius: 500px;
    border-radius: 500px;

}




a{
    color: #3ab1e4;

}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }


  .delete-btn{

    background: 0 0;
    border: none;
    color: #3ab1e4;
    font-weight: 500;

  }

 
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-active{
transition: opacity 0.9s ease;

}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.box-header-icon{
    position: absolute;
    left: 15px;
    padding: 0 15px;
    cursor: pointer;
 }

 